<h2>Stories for User <%= @user.email %></h2>

<ul>
  <% @stories.each do |s| %>
    <li><%= s.title %></li>
  <% end %>  
</ul>
  
  
  <ul>
    <li><a href="/users/<%= @user.id %>/stories/new">Add a Story</a></li>
    <li><a href="/users/<%= @user.id %>/stories/edit">Edit a Story</a></li>
    <li><a href="/users/<%= @user.id %>/stories/delete">Delete a Story</a></li>
  </ul>